
<head>
  <meta charset="utf-8">
</head>


<label>
  Nazwa użytkowanika
  <input  id="logininput" [ngModel] = "firstName" type=text [formControl]=""registerFromControl">
</label>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit">
  <label>
  Hasło
  <input [ngModel] = "haslo" type=text formControlName="loginName">
  </label>

  <label>
  Powtórz Hasło
  <input [ngModel] = "haslo" type=text formControlName="password">
  </label>


<input type="checkbox"><label class="check" for="checkbox">Zapamiętaj mnie!</label>
<input type="submit" value="Login">
</form>
